body {
  padding: 0;
  margin: 0;
  background-color: black;
  text-align: center;
}

.jumbotron {
  background: url("International-Union-of-Cinemas-Calls-for-Open-Standards-in-the-Cinema-Industry.jpg") repeat;
  background-attachment: local;
  height: 620px;
  width: 100%;
  background-position: center center;
}

h1 {
  color: #FFF;
  font-family: 'Ruda', sans-serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #FFF;
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  text-align: left;
}

h3 {
  color: #D7263D;
  font-family: 'Ruda', sans-serif;
  font-size: 32px;
  margin: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Pontano Sans', sans-serif;
  margin: 0;
  text-align: left;
}

.film {
  margin: 60px auto;
  padding: 10px 0px 0px 0px;
  width: 90%;
}

.film-img {
  display: inline-block;
  margin-top: 20px;
}

.film-description {
  display: inline-block;
  width: 50%;
  height: 250px;
  overflow: auto;
}

.pozerat {
  margin-top: 30px;
  width: 100%;
}

a {
  background-color: #D7263D;
  color: #FFF;
  display: block;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 10px 0px;
}

li {
  margin: 0;
  list-style: none;
}
.navbar-form .form-group {
  width: 350px;
}
.navbar-form.navbar-left {
  margin: 0;
  padding: 0;
}
.gsc-control-cse.gsc-control-cse-en {
  height: 50px;
}
.gsc-search-button.gsc-search-button-v2 {
  height: 25px;
  position: relative;
  top: 1px;
}
.gsc-search-box.gsc-search-box-tools {
  position: relative;
  top: -4px;
}
.nav>li.visible-tablet {
  display: none;
}

@media(max-width: 1080px) {
  .nav>li.visible-tablet {
    display: block;
  }
  .visible-desktop {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.5s linear;
  }
  .visible-desktop .form-group {
    width: 100%;
  }
}

@media(max-width: 768px) {
  .nav>li.visible-tablet {
    display: none;
  }
  .visible-desktop {
    position: static;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s linear;
  }
}